@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-base-content: 35.9% 0.144 278.697;
  --color-primary-content: 41% 0.112 45.904;
  --color-secondary-content: 44% 0.119 151.328;
  --color-accent-content: 41% 0.112 45.904;
  --color-neutral-content: 86% 0.005 56.366;
  --color-info-content: 96% 0.059 95.617;
  --color-success-content: 96% 0.059 95.617;
  --color-warning-content: 96% 0.059 95.617;
  --color-error-content: 40% 0.123 38.172;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .table-scrollbar::-webkit-scrollbar {
      width: 4px; /* Adjust width as needed */
      height: 8px; /* Adjust height for horizontal scrollbar */
    }

    .table-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1; /* Track background color */
      border-radius: 100vh; /* Rounded corners for the track */
    }

    .table-scrollbar::-webkit-scrollbar-thumb {
      background: #312c85; /* Thumb color */
      border-radius: 100vh; /* Rounded corners for the thumb */
    }

    .table-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555; /* Thumb color on hover */
    }
}



